@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<button type="button" class="btn btn-primary">@Html.ActionLink("New Movie", nameof(Vidly.Controllers.MoviesController.New), "Movies", new { @class = "btn btn-primary" })</button>
<br />
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(movie.Name, nameof(Vidly.Controllers.MoviesController.Edit), new { id = movie.Id })
            </td>
            <td>
                @movie.Genre.Name
            </td>
        </tr>
    }
</table>

