@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <text>We have no customers yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, nameof(Vidly.Controllers.CustomersController.Details), new { id = customer.Id })
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
            </tr>
        }
    </table>
}

